@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Solway:wght@400;500&display=swap');

$fontSoft: 'Solway', serif;
$fontDms: 'DM Sans', sans-serif;

h1,
.h1 {
    font-family: $fontSoft;
    font-size: calc(36px + (50 - 36) * ((100vw - 300px) / (2300 - 300)));
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h2,
.h2 {
    font-family: $fontSoft;
    font-size: calc(28px + (32 - 28) * ((100vw - 300px) / (2300 - 300)));
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h3,
.h3 {
    font-family: $fontSoft;
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (2300 - 300)));
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h4,
.h4 {
    font-family: $fontSoft;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (2300 - 300)));
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

// .p-big {
//     font-family: $fontInter;
//     // font-size: 18px;
//     font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (2300 - 300)));
//     font-weight: normal;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: normal;
//     letter-spacing: normal;
// }

p,
.p {
    font-family: $fontDms;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (2300 - 300)));
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: normal;
}

.font-button{
    font-family: $fontDms;
    font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (2300 - 300)));
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: normal;
}