.btn-main{
    background-color: $verdeClaro;
    color: $verdeOscuro;
    border-radius: 32px;
    height: 50px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    &.pink{
        background-color: $rosaClaro;
    }
}