.text-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.cell-grow {
    display: flex;
    align-items: stretch;
}

.w-full {
    width: 100%;
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        width: auto;
    }
}