.bloque-banner {
    width: 100%;
    background-color: $blanco2;
    .content-banner {
        padding-top: 7rem;
        position: relative;
        .img-fondo {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
        }
        .container {
            position: relative;
            z-index: 2;
        }
        .title,
        .subtitle {
            color: $verdeOscuro;
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                color: $blanco;
            }
        }
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            margin-top: 90px;
            padding: 3rem 0;
            display: flex;
            align-items: center;
        }
    }
}
