footer {
    background: linear-gradient(
            180deg,
            rgba(252, 221, 236, 0.08) 45.62%,
            rgba(255, 41, 151, 0.4) 100%,
            rgba(255, 41, 151, 0.4) 100%,
            rgba(255, 41, 151, 0.32) 100%
        ),
        #fcddec;
    padding: 3rem 0;
    .title-footer {
        color: $rosa;
    }
    .sub-footer {
        color: $verdeOscuro;
    }
    .correo-footer {
        color: $verdeOscuro;
    }
    .img-footer {
        width: 150px;
    }
    .icon-fill-whatsapp {
        .stroke-fill {
            stroke: $rosa;
        }
    }
    .text-copy {
        color: $blanco;
    }
}

.list-text-pie {
    align-items: center;
    text-align: center;
    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        margin-bottom: 2.5rem;
    }
}

.title-socials {
    color: $verdeOscuro;
    text-align: center;
}

.list-socials {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    li {
        background-color: $blanco;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 44px;
        width: 44px;
        transition: all 400ms;
        &.hover-youtube:hover {
            .bg {
                fill: #ff0000 !important;
            }
        }
        &.hover-facebook:hover {
            background-color: #337fff;
            .bg {
                fill: $blanco !important;
            }
        }
        &.hover-instagram:hover {
            background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
            );
            .bg {
                fill: $blanco !important;
            }
        }
        &.hover-whatsapp:hover {
            background-color: #25d366;
            .bg {
                fill: $blanco !important;
            }
        }
        &.hover-linkedin:hover {
            background-color: #006699;
        }
        a {
            display: flex;
            transition: all 400ms;
        }
    }
}
